<nav class="nav-bar">
  <a class="nav-item" href="javascript:void(0)" (click)="scrollToInicio()">Inicio</a>
  <span class="separator">|</span>
  <a class="nav-item" href="javascript:void(0)" (click)="scrollToInstalaciones()">Instalaciones</a>
  <span class="separator">|</span>
  <a class="nav-item" href="javascript:void(0)" (click)="scrollToServicios()">Servicios</a>
  <span class="separator">|</span>
  <a class="nav-item" href="javascript:void(0)" (click)="scrollToContact()">Acerca de nosotros</a>
  <span class="separator">|</span>
  <a class="nav-item" href="javascript:void(0)" (click)="scrollToContact()">Contáctanos</a>

</nav>
