<div id="Inicio"class="hero">

  <div class="overlay">
    
      <img src="assets/logo1.png" alt="Santa Ana - Parque Acuático" class="logo">
      <p class="description">Ambiente familiar, seguridad y limpieza.</p>
      <br>
      <button class="reserve-btn" (click)="scrollToForm()">¡Reserva Ahora!</button>
  </div>

 <!-- ✅ Curvas decorativas 
 <div class="decoration">
  <img src="assets/Rectangle 1.png" alt="Decoración 1" class="rectangle">
  <img src="assets/recursos1.png" alt="Decoración 2" class="decoration" >
</div>-->

<div class="bot">
  <img src="assets/bot.gif" alt="Bot" class="bot">
</div>
</div>
