<div id="Form2" class="container">
    <button class="close-button">✕</button>
    <p class="title">RESERVACIONES</p>
    <p class="description">Complete el siguiente formulario para realizar una reservación.<br>
        Por favor agregue todos los detalles requeridos.
    </p>

    <form class="form">
        <p class="subtitle">Detalles de Contacto</p>
        <p class="message">Por favor complete sus datos para que podamos comunicarnos con usted.</p>

        <div class="flex">
            <label>
                <span>Tipo de Reserva</span>
                <br>
                <br>

                <select class="input" required>
                    <option value="">Seleccione tipo de reserva</option>
                    <option value="habitacion">Habitación</option>
                    <option value="evento">Evento</option>
                </select>
        
            </label>

            <label>
                <span>Número de Personas</span>
                <br>
                <br>
                <input class="input" type="number" placeholder="01" min="1" required>
                
            </label>
        </div>

        <div class="flex">
            <label>
                <span>Check In</span>
                <br>
                <br>
                <input class="input" type="date" required>
                
            </label>
            <label>
                <span>Check Out</span>
                <br>
                <br>
                <input class="input" type="date" required>
            
            </label>
        </div>

        <label>
            <span>Comentarios adicionales</span>
            <br>
            <br>
            <textarea class="input" placeholder="Por favor mencione aquí"></textarea>
            
        </label>

        <div class="button-container">
            <button class="submit back-button">Anterior</button>
            <button class="submit reserve-button">Reservar</button>
        </div>
    </form>
</div>
