<section id="Servicios" class="services">

    <h2 class="services-title">Servicios destacados</h2>
    
    <div class="service-list">
        <div class="service">
            <div class="service-icon">
                <i class="fas fa-utensils"></i>
            </div>
            <h3>Restaurante</h3>
            <p>Disfruta de una gran variedad de platillos típicos y snacks para toda la familia. Contamos con opciones de comida rápida, antojitos mexicanos y bebidas refrescantes para disfrutar en nuestro balneario.</p>
        </div>
        <div class="service">
            <div class="service-icon">
                <i class="fas fa-water-ladder"></i>
            </div>
            <h3>Albercas</h3>
            <p>Relájate y diviértete en nuestras amplias albercas con agua cristalina. Contamos con zonas para niños, albercas de diferentes profundidades y toboganes para una experiencia inolvidable.</p>
        </div>
        <div class="service">
            <div class="service-icon">
                <i class="fas fa-campground"></i>
            </div>
            <h3>Camping</h3>
            <p>Vive la experiencia de acampar en un ambiente seguro y natural. Ofrecemos áreas acondicionadas para que puedas traer tu casa de campaña y disfrutar de la naturaleza con fogatas nocturnas.</p>
        </div>
        <div class="service">
            <div class="service-icon">
                <i class="fas fa-hotel"></i>
            </div>
            <h3>Hotel</h3>
            <p>Si deseas prolongar tu estadía, contamos con cómodas habitaciones y cabañas equipadas, con todas las comodidades necesarias para un descanso placentero. Reserva con anticipación para asegurar tu lugar.</p>
        </div>
    </div>
</section>
